{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Connexion</h1>
    <div class="groupeConnexion">
        <div class="blockConnexion">
            <label for="inputUsername">Identifiant :</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        </div>
        <div class="blockConnexion">
            <label for="inputPassword">Mot de passe :</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
        </div>
        <div class="blockConnexion">
            <label class="rememberMe">
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        <div class="blockConnexion">
            <button class="boutton" type="submit">
                Connexion
            </button>
        </div>
    </div>
</form>
{% endblock %}
