{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importer participants depuis un fichier CSV</h1>
    <div class="blocImport">
        {{ form_start(formCSV) }}
        {{ form_row(formCSV) }}
        <button>Ajouter !</button>
        {{ form_end(formCSV) }}
    </div>


{% endblock %}

{% block title %}

{% endblock %}

