{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importer participants depuis un fichier CSV</h1>
    <div class="blockImport">
        {{ form_start(formCSV) }}

        {{ form_widget(formCSV) }}
        <button class="buttonCSV" >Ajouter !</button>
        {{ form_end(formCSV) }}
    </div>


{% endblock %}

{% block title %}

{% endblock %}

