{% extends 'base.html.twig' %}

{% block body %}
    <div class="infosSortie">
        <h2>Afficher une sortie</h2>
        <div>
            {% block formStart "" %}
            <div><span>Nom de la sortie:</span>{% block nomSortie "" %}</div>
            <div><span>Date et heure de la sortie:</span>{% block dateHeureDebut "" %}</div>
            <div><span>Date limite d'inscription:</span>{% block dateLimiteInscription "" %}</div>
            <div><span>Nombre de place:</span>{% block nombreDePlace "" %}</div>
            <div><span>Durée:</span>{% block duree "" %} minutes</div>
            <div><span>Description et infos:</span>{% block description "" %}</div>
        </div>
        <div>
            <div><span>campus:</span>{% block campusOrganisateur "" %}</div>
            <div><span>Lieu:</span>{% block lieuSortie "" %}</div>
            <div><span>Rue:</span>{% block rueSortie "" %}</div>
            <div><span>Code Postale:</span>{% block codePostalSortie "" %}</div>
            <div><span>Latitude:</span>{% block LatitudeSortie "" %}</div>
            <div><span>Longitude:</span>{% block LongitudeSortie "" %}</div>

        </div>
    </div>
    {% block listeOuBoutton "" %}
    {% block formEnd "" %}
{% endblock %}

{% block title %}
    {{ parent () }}
{% endblock %}

{% block javascripts %}

{% endblock %}
