{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container_sortie">


        </div>

    </div>
    <div class="content">
        <div class="container_sortie">


        </div>
    </div>
{% endblock %}

{% block title %}
   Ajouter une nouvelle sortie - {{ parent() }}
{% endblock %}
